.clock_container {
   width: 205px;
   position: relative;
   display: inline-block;
  
    
}

.clockHolder {
    margin: 0 auto;
    position: relative;
    padding: 10px;
	display:inline-block;
}

.min {
    display:block;
    position:absolute;
	left: 11.5%;
    top: 13.5%;
}
.hour {
    display:block;
    position:absolute;
	top: 14.5%;
    left: 12%;
}

.rotatingWrapper {
    position: absolute;
    width: 150px;
    height: 150px;
    left:12px;
    top: 7px;
}

/*--responsive--*/
@media screen and (max-width:640px){
.clock_container {
width: 164px;
}

.rotatingWrapper {
width: 120px;
height: 120px;
left: 9px;
top: 6px;
}

}

@media screen and (max-width:320px){

.clock_container {
    width: 123px;
}

.rotatingWrapper {
    width: 80px;
    height: 80px;
    left: 13.5px;
    top: 10px;
}






}